# Salin file ini menjadi .env di server
# cp .env.example .env

# Port backend (harus sama dengan proxy_pass di nginx)
PORT=3002

# Set production agar Express melayani static frontend
NODE_ENV=production
